@model AboutViewModel
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">@Model.Title</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">@Model.SubTitle</p>
                @if (Model.ShowCTA)
                {
                    <a class="btn btn-light btn-xl" href="@Model.CTAUrl">@Model.CTAText</a>
                }
            </div>
        </div>
    </div>
</section>